{
  "presets": [
    ["@babel/preset-react", { "runtime": "automatic" }],
    ["@babel/preset-env", { "modules": "cjs" }]
  ],
  "env": {
    "esm": {
      "presets": [
        ["@babel/preset-env", { "modules": false }]
      ]
    }
  }
}