{
  "presets": [
    ["@babel/preset-env", {
      "modules": "auto",
      "targets": "defaults, not IE 11"
    }],
    ["@babel/preset-react", {
      "runtime": "automatic",
      "importSource": "react"
    }]
  ]
}